# marvin otomatik kurulum ISO'su v3
#  log_host/log_port -> kurulum syslog'u Pi'ye AKAR (http://<pi>:8080/install.log)
#  console=ttyS0     -> AMT SOL ile canli izlenebilir
#  modprobe.blacklist=nvme -> model diski kurulumcuya GORUNMEZ
set default=0
set timeout=10
set timeout_style=menu

menuentry 'marvin OTOMATIK KURULUM  [sda SILINIR - loglar Pi ye akar]' {
    set background_color=black
    linux    /linux auto=true priority=critical url=http://192.168.1.166:8080/preseed.cfg modprobe.blacklist=nvme netcfg/choose_interface=auto hostname=marvin domain= log_host=192.168.1.166 log_port=514 console=tty0 console=ttyS0,115200n8 vga=788 ---
    initrd   /initrd.gz
}

menuentry 'TANILAMA: kurulumcuya SSH + log akisi' {
    set background_color=black
    linux    /linux auto=true priority=critical url=http://192.168.1.166:8080/install-debug.cfg modprobe.blacklist=nvme netcfg/choose_interface=auto log_host=192.168.1.166 log_port=514 console=tty0 console=ttyS0,115200n8 vga=788 ---
    initrd   /initrd.gz
}

menuentry 'Elle kurulum (parametresiz)' {
    set background_color=black
    linux    /linux vga=788 --- quiet
    initrd   /initrd.gz
}
